@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: dana;
    font-style: normal;
    src: url('../font/Dana-Pro/farsinumral/webfonts/fonts/eot/dana-fanum-black.eot') format('embedded-opentype'),
        url('../font/Dana-Pro/farsinumral/webfonts/fonts/woff/dana-fanum-medium.woff') format('woff'),
        url('../font/Dana-Pro/farsinumral/webfonts/fonts/woff2/dana-fanum-medium.woff2') format('woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: dana;
}

body {
    max-width: 1350px;
    line-height: 2rem;

}

.main {
    overflow: hidden;
    margin-top: 70px;

}

.popular ul li a {
    color: #444;
    font-size: 1.2em;
    background: rgba(191, 191, 191, .09);
    padding: 6px 15px;
    border-radius: 10px;
    transition: .5s;
    display: block;
}

.popular ul li a:before {
    content: '\e8f8';
    font-family: ficon2;
    vertical-align: middle;
    margin-left: 4px;
}

/*============================= header & nav =============================*/
.header {
    position: absolute;
    width: 100%;
    height: 7rem;
    top: 0;
    right: 0;
}

.nav__logo {
    
}

nav {
    width: 100%;
    top: 0;
    right: 0;
    z-index: 9;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(238, 238, 238);
    background-color: white;
    transition: top 0.3s;
    position: fixed;
}

.nav__toggle {
    display: flex;
    cursor: pointer;
    font-size: 2rem;
    padding: 7px;
    font-weight: 500;
}

.nav__close {
    display: flex;
    cursor: pointer;
    font-size: 2rem;
    padding: 10px;
    font-weight: 600;
}

@media screen and (max-width:1150px) {
    .nav__menu {
        position: fixed;
        top: -120%;
        right: 0;
        background-color: white;
        width: 45%;
        padding-block: 4.5rem 3.5rem;
        box-shadow: 0 4px 16px hsla(353, 100%, 8%, .1);
        z-index: 1600;
        transition: top .4s;
        padding-bottom: 50px;
    }
}



.nav__list {
    text-align: right;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.nav__link {
    position: relative;
    color: #646765;
    font-family: var(--body-font);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    white-space: normal;
    padding-right: 10px;
}

.nav__close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;

}

/* Show menu */
.nav__menu.show-menu {
    top: 0;
}

/*============================= header & nav =============================*/
.change {
    width: 100%;
}

.circle {
    width: 29rem;
    height: 27rem;
}

.square-outside {
    width: 25rem;
    height: 23rem;
}

.square-top {
    width: 24rem;
    height: 8rem;
}

.square-bottom {
    width: 24rem;
    height: 8rem;
}

.button-crypto {
    width: 24rem;
    height: 4rem;
}